* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Catamaran", sans-serif;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: "Roboto", sans-serif;
}

h3 {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}

ul li {
    list-style-type: none;
}

/* Partie de Gauche */

#left_part {
    background-color: rgb(121, 194, 169);
}

#photo {
    display: none;
    border-radius: 40%;
    border: solid 5px rgb(147, 175, 162);
    width: 150px;
}

#name {
    margin: auto;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: black;
    padding: 30px 0;
}

#left_part h2 {
    background-color: #006d4c;
    text-align: center;
    color: white;
    margin: 5px auto;
    padding: 10px;
    font-weight: 300;
}
.presentation {
    margin: 50px 0 10px;
}
.presentation > p {
    margin: 16px;
    padding: 0 20px;
    text-align: center;
}

/* Contact */
#infos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

#infos i{
    display: none;
}

/* Hard Skills & Soft Skills*/

.skills h3 {
    text-align: center;
    padding: 10px 0 5px;
    margin: 15px 0 5px;
    color: #006d4c;
}

.skill_list {
    margin: 0 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0 10px;
}

.skill_list p {
    text-transform: lowercase;
}

.skill_list i,
.skill_list p {
    margin-left: 20px;
}
#html, #css{
    margin-left:0;
}

.language_list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 2fr 1.5fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.logo {
    width: 40px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50%;
    justify-content: center;
}

/* Loisirs */

.hobbies {
    display: flex;
    flex: row;
    padding: 20px 10px;
}

.hobbies li {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
}

/* Partie de droite */

#title {
    position: absolute;
    width: 100%;
    top: 75px;
    text-align: center;
    color: #006d4c;
}

#right_part h2 {
    display: flex;
    justify-content: center;
    border-top: 2px solid #006d4c;
    width: calc(100% - 200px);
    margin: 10px auto;
    padding-top: 15px;
    color: rgb(121, 194, 169);
}

#right_part h2 i {
    padding: 5px;
}

#right_part h3 {
    padding: 10px;
}

.part_right_item {
    margin: 10px auto;
}

.date {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

#right_part h3 ~ p i {
    color: #00a876;
}

.description_task {
    margin: 0 25px;
}

.list_task1 {
    display: grid;
    padding: 0 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1.8fr 1.8fr;
}

.list_task2, .list_task3 {
    display: grid;
    padding: 0 30px;
}

/* Formation et Diplôme */

.graduate {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0px 30px;
    align-items: center;
}

#oc {
    width: 120px;
    margin-left: 30px;
}

#cnam {
    width: 80px;
    margin-left: 30px;
}

#school {
    margin-left: 30px;
}

#recommendation{
    padding: 5px 30px;    
}

.part_right_item1 {
    margin: 10px auto;
    padding-bottom:10px; 
    line-height: 1.2rem;
}
