* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Catamaran", sans-serif;
    min-height: 100vh;
    width: 100%;
    max-width: 1280px;
    margin:auto;
    overflow: hidden;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: "Roboto", sans-serif;
}

ul li {
    list-style-type: none;
}

/* Partie de Gauche */

#left_part {
    background-color: rgb(121, 194, 169);
}

#photo {
    display: none;
    border-radius: 40%;
    border: solid 5px rgb(147, 175, 162);
    width: 150px;
}

#name {
    margin: auto;
    text-align: center;
    /* text-decoration: underline; */
    text-underline-position: under;
    color: black;
    padding: 30px 0;
}

#left_part h2 {
    background-color: #006d4c;
    text-align: center;
    color: white;
    margin: 5px auto;
    padding: 10px;
    font-weight: 300;
}

#left_part h3 {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}
.presentation {
    margin: 50px 0 10px;
}
.presentation > p {
    margin: 16px;
    padding: 0 20px;
    text-align: center;
}

/* Contact */
#infos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#infos i {
    display: none;
}

.logo {
    width: 40px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50%;
    justify-content: center;
}

/* Loisirs */

.hobbies_icons {
    display: flex;
    padding: 20px 10px;
}

.hobbies_icons li {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
}

/* Partie de droite */

#title {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    color: black;
}

#prenom {
    color: #006d4c;
}

#job {
    text-decoration: underline #006d4c;
}

#right_part h2 {
    display: flex;
    justify-content: right;
    border-bottom: 2px solid #006d4c;
    width: calc(100% - 100px);
    margin: 10px auto;
    padding-top: 15px;
    color: rgb(121, 194, 169);
}

#right_part h2 i {
    padding: 5px;
}

#right_part h3 {
    padding: 10px;
}

.part_right_item {
    margin: 10px auto;
}

.date {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

#right_part h3 ~ p i {
    color: #00a876;
}

/* Formation et Diplôme */

.graduate,
.xp {
    margin: 10px;
}

.graduate i,
.xp i {
    color: #006d4c;
}

#recommendation {
    padding: 15px 30px;
}

.part_right_item1 {
    margin: 10px auto;
    padding-bottom: 10px;
    line-height: 1.2rem;
}
