.container {
    display:flex;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
 
}

#left_part {
    background-color: #006d4c;
    width: 35%;
}

#left_part h3 {
    text-decoration: underline rgb(121, 194, 169);
    text-underline-position: under;
    margin-left: 50px;
}

.contact, .hobbies {
    display: flex;
    align-items: center;
    border :solid 300px #006d4c;
    border-right-color: rgb(121, 194, 169);
    border-left-width: 0px;
    height: 0px;
    border-right-width: 660px;
   
    
}

#name{
    margin: 20px auto;
    text-align: center;
    
}

#photo {
    border-radius: 40%;
    border: solid 10px rgb(121, 194, 169);
}

h2{
    font-size: 1.5rem;
    margin: 10px;
}

.triangle {
    padding-left: 55px;
    font-size: 1.25rem;
    text-align: center;
    ;
    
}
.info li {
    width: 400px;
    font-size: 0.80rem;
    padding-left: 10px;
 
}
h1{
    color: #006d4c;
    text-decoration: underline black;
    text-underline-position: under;
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 2rem;
    
}
h4 {
    font-size: 1.5rem;
    margin: 30px;
    
}
ul li{
    list-style-type: none;
}
.logo{
    width: 25px;
}
div{
    display:flex;
}

p{
    display: block;
    text-align: center;   
}

#right_part{
    width: 65%;
    background-color: whitesmoke;
}
#right_part h2 {
    color: rgb(121, 194, 169);
    text-align: center;
    text-decoration: underline #525252;
    
}
#right_part h4{
    text-align: center;
    margin: 30px;
}

#production h3{
    margin: 100px;
}
#production ul{
    
    text-align: center;
    
    
}
