html {
    height: 100vh;
    /* background-color: red; */
}
.container {
    display: flex;
    font-family: "Catamaran", sans-serif;
    align-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin-bottom: 50px;
}

h2 {
    font-family: "Roboto", sans-serif;
}

h3 {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}

ul li {
    list-style-type: none;
}

.item,
.list,
.list_task p,
.right_part p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Partie de Gauche */
#left_part {
    background-color: rgb(121, 194, 169);
    width: 40%;
}



#photo {
    border-radius: 40%;
    border: solid 5px rgb(147, 175, 162);
    width: 200px;
}

#name {
    margin: 20px auto;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: black;
}

#left_part h2 {
    background-color: #006d4c;
    text-align: center;
    color: white;
    margin: 5px auto;
    padding: 10px;
    font-weight: 300;
}

.presentation > p {
    margin: 16px;
    padding: 0 20px;
    text-align: center;
}

/* Contact */
#infos {
    display: grid;
    gap: 0 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    padding: 5px;
}

/* Compétences */

.skills {
    padding-top: 30px;
}
.skills h3 {
    text-align: center;
    padding: 15px 0 5px;
    margin: 15px 0 5px;
    color: #006d4c;
}

.skill_list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

/* Hard Skills & Soft Skills*/

.list:nth-child(2n + 1) {
    text-align: center;
    padding-left: 50%;
}

.logo {
    width: 40px;
    border-radius: 50px;
}

/* Loisirs */

.hobbies {
    display: flex;
    flex: row;
    padding: 20px 10px;
}

.hobbies li {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
}

/* Partie de droite */

#right_part {
    width: 60%;
    padding: 30px;
}

#title {
    color: #006d4c;
    text-decoration: underline black;
    text-underline-position: under;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#right_part h2 {
    color: rgb(121, 194, 169);
    text-align: center;
    /* text-decoration: underline #525252; */
    border-top: 2px solid #006d4c;
    width: calc(100% - 400px);
    padding-top: 15px;
    margin: 10px auto;
}

#right_part h3 {
    padding: 10px;
}

.part_right_item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.date {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

#right_part h3 ~ p i {
    color: #00a876;
}

.list_task {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-left: 10px;
}

.list_task p {
    height: 30px;
}
/* Formation et Diplôme */

.graduate {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0px 100px;
    align-items: center;
}

#oc {
    width: 300px;
}

#cnam {
    width: 180px;
}

#school {
    margin-left: 100px;
}
